<div class="row information-projet">
  <h1 class="title-projet">{{ projet?.nomProjet }}</h1>
  <div class="col-md-12">
    Projet crée par :
    <b>{{ projet?.createdBy.prenom }} - {{ projet?.createdBy.nom }}</b>
  </div>
  <div class="col-md-12">
    Description: <b> {{ projet?.descriptionProjet }}</b>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4 marginB30">
    <app-taches-form></app-taches-form>
  </div>
  <div class="col-md-8">
    <app-taches-list></app-taches-list>
  </div>
</div>


<!-- {{projet |  json}} -->
