<!--
<ul class="list-group-item">
  <li class="list-group-item-heading">{{utilisateur?.email}}</li>
  <li class="list-group-item-heading">{{utilisateur?.nom}}</li>
  <li class="list-group-item-heading">{{utilisateur?.prenom}}</li>
</ul>-->

<h1>AMar</h1>

<div class="list-group">
  <button class="list-group-item" *ngFor=" let user of users | async">
    <h3 class="list-group-item-heading">{{user.email}}

    </h3>
      Amar
    <p class="list-group-item-text">{{util.uid}}</p>
  </button>
</div>
