<mat-card-content class="container-form" >
    <mat-card-title>
        <div class="div-title-register">
            <h1 *ngIf="!projetsService.formData.id">Créer un nouveau projet</h1>
            <h1 *ngIf="projetsService.formData.id">Modification du Projet</h1>
            <button title="Ajout d'un nouveau projet"  *ngIf="projetsService.formData.id" (click)="resetForm()"  mat-fab>
                <mat-icon aria-label="icon-button"> add_circle_outline </mat-icon>
            </button>
          </div>

    </mat-card-title>
    <form   #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

      <mat-form-field>
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="projetsService.formData.id">
        <input name="nomProjet"
              #nomProjet="ngModel"
              [(ngModel)]="projetsService.formData.nomProjet"
              placeholder="Nom du Projet"
              matInput
              required />
      </mat-form-field>
      <mat-form-field >
          <textarea name="descriptionProjet"
                #descriptionProjet="ngModel"
                [(ngModel)]="projetsService.formData.descriptionProjet"
                matInput placeholder="Description du projet">
          </textarea>

        </mat-form-field>
      <button
      *ngIf="projetsService.formData.id
      && ((currentUser?.id=== projetsService.formData.createdBy.id) || (currentUser?.email=== projetsService.formData.createdBy.email))"
      type="submit" [disabled]="form.invalid"
      mat-raised-button class="update-button">

        <mat-icon>edit</mat-icon> Modifier
  </button>


  <button *ngIf="!projetsService.formData.id" type="submit" [disabled]="form.invalid" mat-raised-button class="submit-button">

    <mat-icon>add_circle_outline</mat-icon> Créer
  </button>


    </form>
  </mat-card-content>

