<!-- comments container -->
<div class="comment_block">
  <!-- new comment -->
  <div class="new_comment">
    <!-- build comment -->
    <ul class="user_comment">
      <!-- current #{user} avatar -->
      <div class="user_avatar">
        <img
          src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/73.jpg"
        />
      </div>
      <!-- the comment body -->
      <div class="comment_body">
        <!-- <span class="user-comment">Amar</span> -->
        <p>
          Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore.
          Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan,
          crucifix Godard craft beer deep v mixtape cornhole Truffaut master
          cleanse pour-over Odd Future beard. Portland polaroid iPhone.
        </p>
      </div>

      <!-- comments toolbar -->
      <div class="comment_toolbar">
        <!-- inc. date and time -->
        <div class="comment_details">
          <ul>
            <li><i class="fa fa-clock-o"></i> 13:94</li>
            <li><i class="fa fa-calendar"></i> 04/01/2015</li>
            <li>
              <i class="fa fa-pencil"></i>
              <span class="user">Sarah Walkman</span>
            </li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</div>

<div class="comment_block">
    <!-- new comment -->
    <div class="new_comment">
      <!-- build comment -->
      <ul class="user_comment">
        <!-- current #{user} avatar -->
        <div class="user_avatar">
          <img
            src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/73.jpg"
          />
        </div>
        <!-- the comment body -->
        <div class="comment_body">
          <!-- <span class="user-comment">Amar</span> -->
          <p>
            Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore.
            Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan,
            crucifix Godard craft beer deep v mixtape cornhole Truffaut master
            cleanse pour-over Odd Future beard. Portland polaroid iPhone.
          </p>
        </div>

        <!-- comments toolbar -->
        <div class="comment_toolbar">
          <!-- inc. date and time -->
          <div class="comment_details">
            <ul>
              <li><i class="fa fa-clock-o"></i> 13:94</li>
              <li><i class="fa fa-calendar"></i> 04/01/2015</li>
              <li>
                <i class="fa fa-pencil"></i>
                <span class="user">Sarah Walkman</span>
              </li>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </div>
