/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
  vertical-align: middle !important;
}
.color-success{
  background-color: #21ce99 !important;
  color: #fff;
}


.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
